<h1 class="ui header">Game Arch: Search histories</h1>

<%= will_paginate @search_histories %>
<%= link_to 'Go back', root_path %>
<table>
  <thead>
    <th>Keyword 
      <%= link_to 'a-z', search_histories_path(sort: 'keyword asc', page: params[:page]) %>
      <%= link_to 'z-a', search_histories_path(sort: 'keyword desc', page: params[:page]) %> 
    </th>
    <th>
      Count
      <%= link_to 'most', search_histories_path(sort: 'total desc', page: params[:page]) %>
      <%= link_to 'least', search_histories_path(sort: 'total asc', page: params[:page]) %> 
    </th>
    <th>
      Date
      <%= link_to 'new', search_histories_path(sort: 'created_at desc', page: params[:page]) %>
      <%= link_to 'old', search_histories_path(sort: 'created_at asc', page: params[:page]) %> 
    </th>
  </thead>
  <tbody>
    <% @search_histories.each do |search_history| %>
      <tr>
	<td><%= search_history.keyword.to_s.truncate(40) %></td>
	<td><%= search_history.total %></td>
	<td><%= search_history.created_at %></td>	
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @search_histories %>
