<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      Game Arch
    </div>
    <%= link_to "Home", root_path, class: "item" %>

    <div class="ui simple dropdown item">
      Searches<i class="dropdown icon"></i>
      <div class="menu">
	<%= link_to 'foo', '#', class: 'item' %>
	<%= link_to 'foo', '#', class: 'item' %>
        <div class="divider"></div>
        <div class="header"></div>
        <div class="item">
          <i class="dropdown icon"></i>
          Popular
          <div class="menu">
	    <%= link_to 'foo', '#', class: 'item' %>
	    <%= link_to 'foo', '#', class: 'item' %>
          </div>
        </div>
        <a class="item" href="#">Link Item</a>

      </div>
    </div>
  </div>
</div>
