<!DOCTYPE html>
<html>
  <head>
    <title>GameArch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <body>
    <div class="ui sidebar inverted visible vertical menu">
      <div id='sidebar'>
	<%= render partial: 'layouts/sidebar' %>
      </div>
    </div>
    <div class="pusher">
      <div class="ui main text container">
	<br />
	<%= yield %>
      </div>
    </div>
  </body>
</html>
